{{total}}
{{total_pages}}
{{page_size}}
<table class="table table-hover">
  <thead>
  <tr>
    <th ng-repeat="(key, value) in options.table">
      <a ng-click="sortColumn(key)">{{value}} <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a>
      <input ng-model="searchFields['by_' + key]"/>
    </th>
  </tr>

  <div class="btn-group btn-group-sm" role="group">
    <button ng-click="doFilter()" type="button" class="btn btn-default" aria-label="Left Align">
      <a class="glyphicon glyphicon-filter" aria-hidden="true">Filtrar</a>
    </button>
    <button ng-click="cleanFilters()" type="button" class="btn btn-default" aria-label="Left Align">
      <a class="glyphicon glyphicon-erase" aria-hidden="true">Limpiar parámetros</a>
    </button>
  </div>
  </thead>
  <tbody>

  <tr ng-repeat="item in items[options.data]" style="cursor: pointer">
    <td ng-repeat="(key, _) in options.table" ng-dblclick="setDetail(item, options.modal)">{{item[key]}}</td>
  </tr>
  </tbody>

</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{modal.title}}</h4>
      </div>
      <div class="modal-body" ng-repeat="field in modal.body">
        <label>{{field.label}}:</label> {{field.value}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<nav>
  <ul class="pagination">
    <li ng-class="{disabled: page == 1}">
      <a href ng-click="prevPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li ng-repeat="p in getPages() track by $index" ng-class="{active: $index+1 == page}">
      <a href ng-click="changePage($index+1)">{{$index+1}}</a>
    </li>
    <li ng-class="{disabled: page == 10}">
      <a href ng-click="nextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


